form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-weight: normal;
  color: #000;
  letter-spacing: 1px;
}

.form-control {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  font-size: 1rem;
}

.form-input:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.form-input::placeholder {
  color: #666;
}

.form-control .btn {
  cursor: pointer;
  color: #fff;
  background: #000;
  border: 1px solid #000;
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  text-transform: capitalize;
  font-weight: bold;
  transition: all 0.3s ease;
}

.form-control .btn:hover {
  background: #fff;
  color: #000;
}